<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Redirect</title>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #2c2a2a;
      }
      #content {
        position: relative;
        margin: 0 auto;
        width: 750px;
        background: rgb(49, 47, 47);
        padding: 20px;
        border: 1px solid #000000;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgb(32, 32, 32);
           -moz-box-shadow: 0 1px 2px rgba(32, 32, 32);
                box-shadow: 0 1px 2px rgba(32, 32, 32);
      }
      #alert {
        display: none;
        position: absolute;
        width: 790px;
        top: -40px;
        left: 0;
      }
    </style>
  </head>
  <body>
    <div id="content">
      <h1 style="color:white;">Redirect</h1>
      <div id="alert" class="alert fade in alert-success">
        <span class="msg"></span>
      </div>
      <hr>
      <ph1 style="color:white;>Add cusom Redirection:</p>
      <form class="form-inline">
        <fieldset>
          <input type="text" id="from" placeholder="From" value="">
          <div style="position: absolute; left:245px; top:117px;"><i class="icon-arrow-right"></i></div>
          <div style="position: absolute; left:265px; top:112px;"><input type="text" id="to" placeholder="To" value=""></div>
          <div style="position: absolute; left:490px; top:112px;"><button type="button" class="btn" id="add"><i class="icon-plus"></i> Add</button></div>
        </fieldset>
      </form>
      <div id="redirects">
        <h3 style="color:white;">Redirections</h3>
        <table class="table table-striped" style="color:blueviolet">
          <thead><tr><th style="color:white;">From</th><th style="color:white;">To</th><th width="80">&nbsp;</th></thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="options.js"></script>
  <script id="table_row_tpl" type="text/x-javascript-tmpl">
    <tr>
      <td>{{from}}</td>
      <td>{{to}}</td>
      <td>
        <button class="remove" value="{{id}}"><i class="icon-remove"></i> Delete</button>
      </td>
    </tr>
  </script>
</html>
